
# NBA Games Dataset - Basic Treatment

Within this notebook preparations are made to the file <code>game_info.csv</code> in order to make it a suitable foundation for the tweet extraction pipeline in <code>pipeline_tweets.py</code><br>
and for other scripts.
<br>
<br>
<br>
Author: PSC

In [7]:
import pandas as pd
import datetime
from create_databases import PATH_ROOT

In [8]:
game_info = pd.read_csv(PATH_ROOT + 'game_info.csv')
game_info.head(2)

,Unnamed: 0,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,0,1996-97,1610612764,WAS,Washington Bullets,29601184,1997-04-20T00:00:00,WAS @ CLE,W,48.0,...,499,1767,355,2258,887,1493,1106,22,1961,929
1,1,1996-97,1610612739,CLE,Cleveland Cavaliers,29601184,1997-04-20T00:00:00,CLE vs. WAS,L,48.0,...,1775,1057,142,1033,606,1152,691,22,2138,1366

In [9]:
foundation = game_info[['TEAM_NAME', 'GAME_DATE', 'GAME_ID']].copy()

In [10]:
foundation.head(1)

            TEAM_NAME            GAME_DATE   GAME_ID
0  Washington Bullets  1997-04-20T00:00:00  29601184

In [13]:
foundation.shape

(58792, 5)

In [11]:
foundation['GAME_DATE'] = foundation['GAME_DATE'].str.split('T').str[0]
foundation.head(2)

             TEAM_NAME   GAME_DATE   GAME_ID
0   Washington Bullets  1997-04-20  29601184
1  Cleveland Cavaliers  1997-04-20  29601184

In [12]:
foundation['tweet_since'] = pd.to_datetime(foundation['GAME_DATE']) - datetime.timedelta(3)
foundation['tweet_until'] = pd.to_datetime(foundation['GAME_DATE']) - datetime.timedelta(1)
foundation.head(1)

            TEAM_NAME   GAME_DATE   GAME_ID tweet_since tweet_until
0  Washington Bullets  1997-04-20  29601184  1997-04-17  1997-04-19

Since Twitter first went online on 2006, there is no point in keeping games previous to that year for twitter search purposes.<br><br>
Twitter reached the milestone of 50M active users per month in 2010<br> 
(Font: https://www.bbc.com/news/special/panels/13/nov/twitter_users/inc/panel.inc?responsive=true).<br> 
This is the point from which tweets will star to be considered. Previous to this, the number of active user might have been too low.

In [15]:
foundation = foundation.query("tweet_since >= '2010-01-01' ")
foundation.shape

(27410, 5)

In [16]:
foundation.to_csv(PATH_ROOT + 'foundation.csv')