
# NBA Games Dataset - Basic Treatment

Within this notebook preparations are made to the file <code>game_info.csv</code> in order to make it a suitable foundation for the tweet extraction pipeline in <code>pipeline_tweets.py</code><br>
<br>

In [2]:
import pandas as pd
import datetime
from nba_db_scraper.create_databases import PATH_ROOT

In [4]:
game_info = pd.read_csv(PATH_ROOT + 'game_info.csv')
game_info.head(2)

,Unnamed: 0,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,...,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,0,1996-97,1610612764,WAS,Washington Bullets,29601184,1997-04-20T00:00:00,WAS @ CLE,W,48.0,...,499,1767,355,2258,887,1493,1106,22,1961,929
1,1,1996-97,1610612739,CLE,Cleveland Cavaliers,29601184,1997-04-20T00:00:00,CLE vs. WAS,L,48.0,...,1775,1057,142,1033,606,1152,691,22,2138,1366

In [5]:
# Team name is already described in col Team_Name.
# Replacement might be needed to identify who team played against
game_info['FULL_TEAM_NAME'] = game_info['TEAM_NAME']
game_info['FULL_TEAM_NAME'] = game_info.replace(
    [
    'ATL', 'BKN', 'BOS', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL' , 'MEM', 
    'MIA', 'MIL', 'MIN', 'NOP', 'NYK', 'OKC', 'ORL', 'PHI', 'PHX', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS'
    ],
    [
    'Atlanta Hawks', 'Brooklyn Nets', 'Boston Celtics', 'Charlotte Hornets', 'Chicago Bulls', 'Cleveland Cavaliers', 
    'Dallas Mavericks', 'Denver Nuggets', 'Detroit Pistons', 'Golden State Warriors', 'Houston Rockets', 'Indiana Pacers', 
    'Los Angeles Clippers', 'Los Angeles Lakers', 'Memphis Grizzlies', 'Miami Heat', 'Milwaukee Bucks', 
    'Minnesota Timberwolves', 'New Orleans Pelicans', 'New York Knicks', 'Oklahoma City Thunder', 'Orlando Magic', 
    'Philadelphia 76ers', 'Phoenix Suns', 'Portland Trail Blazers', 'Sacramento Kings', 'San Antonio Spurs', 
    'Toronto Raptors', 'Utah Jazz', 'Washington Wizards'
    ]
)

#Start thinking about the size of the final outuput
#59.000 rows = 15Mb -> 1/2 = 24.500 rows
#2.000 tweets/row = 59.000.000 rows = 15Gb? (might be too big, but let's try it)

In [6]:
game_info.head(1)

,Unnamed: 0,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,...,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,FULL_TEAM_NAME
0,0,1996-97,1610612764,WAS,Washington Bullets,29601184,1997-04-20T00:00:00,WAS @ CLE,W,48.0,...,1767,355,2258,887,1493,1106,22,1961,929,0